@charset "UTF-8";

/**
* Font
*/
$SAN-SERIF : "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック体","Yu Gothic","YuGothic",'Meiryo UI',"ＭＳ Ｐゴシック","MS PGothic","メイリオ",Meiryo,Osaka,sans-serif;
$SERIF : "ヒラギノ明朝 Pro W3","ＭＳ Ｐ明朝","MS Serif","平成明朝","HG明朝E","HG明朝B",Century,"Times New Roman",serif;

/**
* GRID
*/
$GRID: 4px;