@charset "UTF-8";

body {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 200;
  font-family: $SAN-SERIF;
}

h1,
h2,
h3,
h4 {
  font-feature-settings: "palt";
  margin-bottom: $GRID * 3;
}

h1 {
  font-size: 48px;
  font-weight: 200;
}
h2 {
  font-size: 30px;
  font-weight: 200;
}
h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
}